  @tailwind base;
  @tailwind components;
  @tailwind utilities;

 

  .gradient-bg {
    background: linear-gradient(
      180deg,
      #020c1b 0%,
      #0a192f 25%,
      #112240 50%,
      #233554 100%
    );
  }
  
  @layer base{
    *::-webkit-scrollbar {
      width: 5px;
    }
    *::-webkit-scrollbar-thumb {
      background-color: #d4387c;
      border-radius: 10px;
    }
    
    *::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 10px;
    }
    
  
  }